/* ---------------------------------------------------------------------------------------------------------- */
/* BASE */

html, body {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;

	color: #404756;
}

.container {
	max-width: 1340px;
	padding: 0 15px;
	margin: 0 auto;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* HEADER BURGER MENU */
.header__menu-burger {
	display: none;
}

body._lock {
	overflow: hidden;
}

@media (max-width: 850px) {
	.header__menu-burger {
		z-index: 5;
		display: block;
		position: relative;

		width: 30px;
		height: 18px;

		cursor: pointer;


	}

	.header__menu-burger span,
	.header__menu-burger:before,
	.header__menu-burger:after {
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #404756;
	}

	.header__menu-burger:before,
	.header__menu-burger:after {
		content: "";
	}

	.header__menu-burger:before {
		top: 0;
	}

	.header__menu-burger:after {
		bottom: 0;
	}

	.header__menu-burger span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.header__menu-burger._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.header__menu-burger._active:before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.header__menu-burger._active:after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.header__nav {
		position: fixed;
		z-index: 2;
		top: 0;
		left: -100%;

		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #ffdbb4bd;
		padding: 70px 30px 30px 30px;
		transition: left 0.3s ease 0s;
	}

	.header__nav._active {
		left: 0;
	}

	.header__active {
		color: #404756;
	}

	.header__nav ul {
		flex-direction: column;

		font-weight: bold;
		font-size: 55px;
		line-height: 80px;
		text-align: center;
		color: #404756;

		margin: 0;
	}

	.header__nav ul li:not(:first-child) {
		margin: 0;
	}

	/* STYLE NAVIGATION */
	.nav-link-button {
		border: none;
		border-radius: none;
		padding: 0;
	}
}